<div id="intro">
  <h1> Welcome to Gift Me! </h1>
</div>

<h2> Here at Gift Me we want to make everyone's life so much easier!  We have created an application that allows you to stop worrying about forgetting to buy someone a birthday or holiday gift!  </h2>

<h1> In order to get the full experience you must create an account.  <%=link_to "Please sign up!", new_user_registration_path%> </h1>
