/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .gifts{
   margin-left: 30%;
   margin-right: 30%;
 }

button{
  color: red;
  background-color: white;
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: .9em;
}
button:hover{
  background-color: red;
  color: white;
}
 .birthday{
   color: white;
   margin-left: 30%;
   margin-right: 30%;
   float: left;


 }

 .sign-up{
   margin-bottom: 3%;
   background-color: #954E5D;
 }

 .sign-up{
  color: red;
}
.field{
  color: red;
}
 .sign{
   color: #FFFFFF;
   padding-top: 5%;
   padding-bottom: 3%;
   padding-right: 3%;
   padding-left: 3%;
   margin-right: 3px;
   margin-left: 3px;
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: center;
 }

 #name{
   color: white;
 }

 .field{
   color: white;
 }

 #person-tile{
   margin-bottom: 2.5em;
 }

 .birth{
   color: white;
   font-weight: bold;
 }


 .link {
  color: red;
  font-weight: bold;
}

 .first {
   color: #EBDECB;
   background-color:rgba(103,75,75,0.5);
   border: 5px solid;
   border-radius: 50px;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 1%;
   padding-top: 2%;
   margin: 10px;
   float: right;
   overflow-y: scroll;

 }
 .second:visited{
   color: black;
 }

 label{
   color: white;
 }

 .person{
   color: #FFFFFF;
 }

 .second {
   color: #EBDECB;
   margin-left: 10%;
   margin-right: 75%;
   border: 5px solid;
   margin-top: 3em;
   margin-bottom: 5em;
   padding: 1em;
   background-color: #EBDECB;
   float: right;
   position: absolute;

 }

 .field, .actions {
   // margin-bottom: 1%;
   // margin-top: 1%;
   color: white;

 }

#welcome{
  color:black;
}

.top-bar, .top-bar ul{
  background-color: #954E5D;

}

.foot-link {
  color: black;
}

 .footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #954E5D;
   // height: 5%;
   padding: .5%;
   margin: 0%;
   margin-top: 2%;
   font-size: 1em;
   text-align: center;
 }

 body{
   background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/11/23/21/istock-497443324.jpg?w968);
     background-repeat: no-repeat;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
 }

 #intro {
  background-color: #C5B9BD;
  border: 2px solid;
  text-align: center;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 31%;
  margin-left: 10%;
  margin-right: 5%;
 }

 #overview{
   background-color: #C5B9BD;
   border: 2px solid;
   text-align: center;
   border-radius: 20px;
   width: 50%;
   float: right;
   font-size: 5em;

 }

 #name{
   color: white;
   padding: 10px;
   margin-left: 450px;
   margin-right: 450px;
 }

.box{
  color: red;
}

#pro-pic {
  height: 45px;
  width: 67px;
}

.fifth {
  color: white;
}

.edit{
  color: red;
  background-color: white;
  padding: 1.09em;
}
.edit:hover{
  color: white;
  background-color: red;
  padding: 1.09em;
}

input.button{
  color: red;
  background-color: white;
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: .9em;
  padding-right: 4em;
}
input.button:hover{
  color: white;
  background-color: red;
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: .9em;
  padding-right: 4em;
}

 label{
  margin-left: 30%;
  margin-right: 30%;
}
